<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>交易明细</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
</head>
<body>
<header>
    <div class="top_banner">
        <img th:src="@{/images/Banner.png}" alt="">
    </div>
</header>
<div class="content">
    <div class="navitem">
        <div class="shortcut">
            <div class="login">
                <img th:src="@{/images/profile.png}">
                <div class="user_info">
                    <div th:text="欢迎"></div>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li><a href="/transaction/tran">交易明细</a></li>
            <li><a href="/statistic/statistic"  onclick= "show()" >统计</a></li>
        </ul>
    </div>
    <div  class="rg_layout">
        <div id="main" class="rg_form">
        </div>

        <div></div>
    </div>
</div>
</body>
</html>